apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: customer-ssr
spec:
  type: ClusterIP
  selector:
    app: mongo
  ports:
    - port: 27017
      targetPort: 27017
      # nodePort: 32017
